.loader{
    color: blueviolet;
    font-size:x-large;
    margin: 1rem; 
}

.loader h4{
    font-style: oblique;
    padding: 1rem 1rem; 
    font-weight: 600;
    text-shadow: 0.08rem 0.08rem rgb(97, 0, 141);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
 from {
   text-shadow: 0.09rem 0.09rem rgba(96, 0, 141, 0.872);
 }
 to {
    text-shadow: 0.08rem 0.08rem #e5c8f3;
 }
}