.saludo{
    color: blueviolet;
    font-weight: 600;
    font-size:x-large;
    font-style: oblique;
}

.loader{
    color: blueviolet;
    font-size:x-large;
    margin: 1rem; 
}

.loader h4{
    font-style: oblique;
    padding: 1rem 1rem; 
    font-weight: 600;
    text-shadow: 0.08rem 0.08rem rgb(97, 0, 141);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
 from {
   text-shadow: 0.09rem 0.09rem rgba(96, 0, 141, 0.872);
 }
 to {
    text-shadow: 0.08rem 0.08rem #e5c8f3;
 }
}
 


.cards {
    display:inline-flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.card--img {
    min-width: 40%; 
    max-height: 80%; 
    width: 100%; 
    object-fit: cover;
    object-position: top;
    
}

.card--title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.precio {
    font-style: italic;
    color: blueviolet;
}

.card--description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn-light {
    background-color: blueviolet;
    color:aliceblue;
}

.item--description{
    margin: 2rem 0;
}