.navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar a:link{
    color: rgb(167, 66, 207);
}
.navbar a:visited{
    color: rgb(87, 39, 107);
}
.navbar a:hover{
    color: rgb(167, 66, 207);
    text-shadow: 0.05rem 0.05rem rgb(168, 65, 168);
}
.navbar a:active{
    color: rgb(167, 66, 207);
}
.navbar--cart{
    display: inline-flex;
}
.navbar--cart img {
    width: 3rem;
    height: 3rem;
}
.navbar--cart p{
    border-style: dashed;
    border-width: 0.1rem;
    border-radius: 3rem;
    padding: 0rem 00.5rem 0rem 0.5rem;
    position: absolute;
    margin-left: 2rem; 
}

body {
    padding-top: 6rem;
}

/* .background{
    background-image: url(/src/images/Elementos-12-12.png);
    background-repeat: repeat;
    background-size: 5rem;
    background-position: 45°;
    transform:translate(-50%,-50%) rotate(45deg);
} */

